*.DotSettings.User
Game/build/**
Game/build
Game/intermediate/**
Game/intermediate
.vs
*.vcxproj.user
/build/bin
/build/intermediate/x64
/src/games/light/x64/Debug
/bin/tools/radium.exe
/bin/tools/radium.exe.config
*.pdb
**/obj/Debug/**
/src/Saved/UnrealBuildTool
/src/Intermediate
/build/**
/build/
/bin/Debug
/bin/Development
/bin/Release

!/bin/tools/Microsoft.Build.Utilities.v4.0.dll
!/bin/tools/Microsoft.VisualStudio.Setup.Configuration.Interop.dll
!/bin/tools/Sharpmake.*.dll
/.build

/engine/datacache/*.*
/engine/datacache/*.bundle
!/engine/datacache/.git_keep
